dag {
    enabled = true
    file = '../results/nextflow/dag.html'
    overwrite = true
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--env GIT_ACCESS_TOKEN=$CO_USERNAME:$CO_PASSWORD --volume $DATA_PATH:/tmp/data'
}

env {
    RESULTS_PATH = '../results'
}

params {
    capsule_star_alignment_1_args = "1 ../data/star_index _1.fastq.gz _2.fastq.gz zcat SortedByCoordinate - None 'WithinBAM HardClip' None False 10"
}

process {
    debug = true
    errorStrategy = 'finish'
}

report {
    enabled = true
    file = '../results/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '../results/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '../results/nextflow/trace.txt'
    overwrite = true
}
